{% extends 'base.html' %}
  
  {% block content %}

  <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contactenos</span></div>
      <h3>Direccion</h3>
      <p>Pasa por una taza de café o lo que sea..</p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Resistencia, chaco</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +54 3624-123212</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  ejmplo@web.com</p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
      <div class="w3-section">      
        <label>Nombre</label>
        <input class="w3-input" type="text" name="Nombre" required>
      </div>
      <div class="w3-section">      
        <label>Email</label>
        <input class="w3-input" type="text" name="Email" required>
      </div>
      <div class="w3-section">      
        <label>Mensaje</label>
        <input class="w3-input" type="text" name="Mensaje" required>
      </div>  
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
      </form>
    </div>
  </div>
</div>
  {% endblock content %}