{% extends 'base.html' %}
	
	{% block content %}
<div class="w3-container w3-padding-64 w3-center" id="team">
	<h2>NUESTRO TEAM</h2>
	<p>somos los creadores de esta aplicacion web</p>

	<div class="w3-row"><br>

		<div class="w3-quarter">
	  		<img src="#" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
	  		<h3>Adrian Ranz</h3>
	  		<p>web</p>
		</div>

		<div class="w3-quarter">
	  		<img src="#" alt="Boss" style="width:35%" class="w3-circle w3-hover-opacity">
	  		<h3>Sergio Velazquez</h3>
	  		<p>web</p>
		</div>

		<div class="w3-quarter">
	  		<img src="#" alt="Boss" style="width:35%" class="w3-circle w3-hover-opacity">
	  		<h3>Eduardo Vence</h3>
	  		<p>web</p>
		</div>

		<div class="w3-quarter">
	  		<img src="#" alt="Boss" style="width:35%" class="w3-circle w3-hover-opacity">
	  		<h3>Alejandro Toledo</h3>
	  		<p>web</p>
		</div>

		<div class="w3-quarter">
	  		<img src="#" alt="Boss" style="width:35%" class="w3-circle w3-hover-opacity">
	  		<h3>Rosmari</h3>
	  		<p>web</p>
		</div>
	</div>
</div>

	{% endblock content %}